main {
	overflow:auto;
	clear:both;
	flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Arial;
	background-color: #101010;
	color: white;
	padding: 0;
	margin: 0;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	float: left;
	list-style-type: none;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: rgba(16, 16, 16, 0.75);
	box-shadow: 0px 5px 5px 0px black;	
}

#dt {
	padding: 0;
	margin: 0;
	margin-left: 1em;
	float: left;
	font-size: 1.25em;
}

ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 16px;
}

a {
	float: right;
	text-decoration: none;
	font-size: 1.25em;
	margin-right: 1em;	
}

a:hover {
	text-decoration-line: underline;
	text-decoration-color: #D84040;
	text-decoration-thickness: 4px;
}

.nav-container {
 	width: 60%;
 	margin: 0 auto;
}

.hero-container {
	padding-top: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2em;
    pointer-events: none;
}

.hero-container h1 { 
	font-size: 32px;
}

.hero-container h2 { 
	font-size: 28px;
}

.hero-container p  { 
	font-size: 24px;
}

.hero-text {
   flex: 1;
   margin: 0 auto;
}

.hero-image img {
    height: 450px;
    width: 450px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 5px 5px 0px 0px #D84040;
    margin-left: 2em;
}

.highlights-container {
	margin: 0 auto;
	width: 60%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3em;
}

#grid-item-text, 
#grid-item-link {
    color: white;
    font-size: 18px;
    padding: 5px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #D84040;
    border-radius: 0.5em;
    font-size: 24px;
    background-color: #101010;
}

.grid-item:hover {
	background-color: #101010;	
	border: 4px solid #D84040;
}

.grid-item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #D84040;
    border-radius: 0.5em;
    font-size: 24px;
    background-color: #D84040;
}

.grid-item-link:hover {
	background-color: #D84040;
	border: 4px solid #D84040;
}

h1 {
	color: #D84040;
}

#subtitle {
	color: #7C7C7C;
}

#text {
	color: #BCBCBC;
}

footer {
	position: fixed;	
	bottom: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	justify-items: center;
  	border-top: 1px solid #202020;
  	color: #505050;
  	background-color: #101010;
}

/* Mobile Phones */
@media screen and (max-width: 640px) {
    body {
        font-size: 14px;
    }

    .hero-image img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0.5em auto;
    }

    .hero-container {
        flex-direction: column;
    	text-align: center;
    	padding-top: 6em;
    	margin-bottom: 1.5em;
    }

    .hero-text {
        margin: 0;
        padding: 0;
    }

	nav ul {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    gap: 0.5em;
	}

	.nav-container,
	.hero-container,
	.highlights-container {
		width: 95%;
	}


}