* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
}

nav {
    list-style-type: none;
    box-shadow: 0px 5px 5px 0px black;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav li {
    height: 50px;
}

nav a,
a {
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #d84040;
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
    background-color: #202020;
}

nav li:first-child {
    margin-right: auto;
}

.brand-style {
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: default;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 199;
    background-color: #101010de;
    box-shadow: 0px 5px 5px 0px black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar li,
.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.hero-container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    pointer-events: none;
}

.header-container {
    padding-top: 2em;
    width: 60%;
    margin: 0 auto;
}

header {
    padding-right: 1em;
    padding-bottom: 1em;
}

header h1 {
    color: white;
    font-size: clamp(1.25rem, 1.5vw, 2.25rem);
}

header h2 {
    color: #d84040;
    font-size: clamp(1.75rem, 2vw, 3rem);
}

header p {
    color: #7c7c7c;
    font-size: clamp(1rem, 1vw, 1.25rem);
}

.hero-text {
    flex: 1;
    margin: 0 auto;
}

.hero-image img,
.food-image img,
.me-image img {
    height: clamp(200px, 23vw, 450px);
    width: clamp(200px, 23vw, 450px);
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 5px 5px 0px 0px #d84040;
    margin-left: auto;
}

.friends-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: fill;
    box-shadow: 5px 5px 0px 0px #d84040;
    margin-top: 1em;
}

.interests-container p {
    padding-right: 2em;
    align-items: center;
    display: flex;
}

.hometown-container p {
    padding-left: 2em;
    align-items: center;
    display: flex;
}

div.hero-image a,
div.food-image a,
div.friends-image a,
div.me-image a {
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.interests-container {
    display: flex;
}

.hometown-container {
    display: flex;
}

section {
    margin: 0 auto;
    width: 60%;
    color: white;
    padding: 1.25em;
}

section p {
    text-align: justify;
    font-size: clamp(16px, 2vw, 18px);
}

section h4 {
    color: #7c7c7c;
    font-weight: normal;
    padding-bottom: 0.25em;
}

.grid-container {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.25em, 1fr));
    gap: 1.5em;
}

.grid-item {
    padding: 0.75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #d84040;
    border-radius: 0.5em;
    background-color: #101010;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    background-color: #101010;
    border: 4px solid #d84040;
    transform: translateY(-5px);
    border-color: #ee5656;
}

.grid-item:last-child {
    background-color: #d84040;
}

.grid-item:last-child:hover {
    background-color: #ee5656;
    border-color: #ee5656;
}

footer {
    position: relative;
    bottom: 0;
    margin: 1em auto;
    padding-top: 1em;
    width: 100%;
    justify-items: center;
    border-top: 1px solid #202020;
    color: #505050;
    background-color: #101010;
}

#message-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.contact-container div header {
    padding-right: 0;
    margin: 0 auto;
    margin-top: 2em;
}

.contact-container section {
    width: 90%;
    flex-direction: column;
}

.contact-container section h4 {
    margin: 1em 0 1em 0;
    padding: 0;
    text-align: center;
}

.contact-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

form div {
    margin-bottom: 1.5em;
}

form div input,
form div textarea {
    width: 40%;
    padding: 1.5em;
    border-radius: 5px;
    border: 1px solid #505050;
}

form div textarea {
    min-height: 120px;
}

.button {
    width: 30%;
    padding: 1.5em 1em;
    background-color: #d84040;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    align-items: center;
}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #505050;
    width: 60%;
}

table,
th,
td {
    color: black;
    border: 1px solid #7c7c7c;
    border-collapse: collapse;
    background-color: #dddddd;
    text-align: center;
}

table {
    width: 100%;
}

th,
td {
    padding: 1vw;
}

th {
    color: white;
    background-color: #d84040;
    border: 1px solid #d84040;
}

td.busy {
    background-color: #b9b9b9;
}

/* Mobile Phones & Smaller Screens */
@media screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    body {
        font-size: 16px;
    }

    .sidebar {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
        padding-top: 3em;
        margin-bottom: 1.5em;
    }

    .header-container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .highlights-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .hero-text {
        margin: 0;
        padding: 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 1em;
        width: 100%;
    }

    .grid-item {
        padding: 1em;
        border-radius: 0.5em;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 11px;
    }

    section p {
        font-size: 16px;
    }

    .food-image img,
    .me-image img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .hometown-container p {
        padding: 0;
        margin-top: 1em;
    }

    .interests-container,
    .hometown-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .interests-container p {
        padding: 0;
        padding-bottom: 1em;
    }

    header h1 {
        font-size: clamp(1.25rem, 1.5vw, 2.25rem);
    }

    header h2 {
        font-size: clamp(1.75rem, 2vw, 3rem);
    }

    header p {
        font-size: clamp(1rem, 1vw, 1.25rem);
    }

    .hero-container,
    section {
        width: 90%;
    }

    footer {
        text-align: center;
        bottom: 0;
        margin: 2em auto;
        position: relative;
    }

    form div input:not(.button),
    form div textarea {
        width: 90%;
    }

    .button {
        width: 90%;
    }

    hr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        border-color: #505050;
        width: 90%;
    }
}
